<body>

  <nav class="navbar">
    <% if current_user %>
      <p> Logged in as <%= current_user.name %>
    <% end %>
    <div class="container">
      <ul>
        <li>
          <h1>Git-Organized</h1>
        </li>
        <li>
          <form action="http://git-organized.herokuapp.com/auth/github">
            <input type="submit" value="Login through GitHub">
          </form>
        </li>
        <!-- <li>
          <form action="http://localhost:3000/auth/github">
            <input type="submit" value="Login through GitHub Local">
          </form>
        </li> -->
        <li>
          <form action="/signout">
            <input type="submit" value="Signout">
          </form>
        </li>
      </ul>
    </div>
  </nav>

  <div class="repo-container">
    <h3>Your repos:</h3>
    <form action="#" class="repo-selector">
      <fieldset class="repos">
      </fieldset>
    </form>
  </div>

    <h3 class="commit-header">Commits:</h3>
    <div class="commits"></div>

  <div class="todos">
    <div class="todo-creation">
      <form class='todo-form'>
        <input name='todo-content' class="todo-input btn-default" type="text" placeholder='New todo'>
      </form>
    </div>
    <div class="todo-items"></div>
  </div>


    <p class="pusher"></p>
</body>
