<body>
  <nav class="navbar">
    <% if current_user %>
      <p> Logged in as <%= current_user.name %>
    <% end %>
    <div class="container">
      <ul>
        <li>
          <h1>Git-Organized</h1>
        </li>
        <% if !current_user %>
          <li>
            <form action="http://git-organized.herokuapp.com/auth/github">
              <input type="submit" value="Login through GitHub" class="btn btn-default">
            </form>
          </li>
          <!-- For local testing purposes -->
          <li>
            <form action="http://localhost:3000/auth/github">
              <input type="submit" value="Login through GitHub Local" class="btn btn-default">
            </form>
          </li>
        <% end %>
        <% if current_user %>
          <li>
            <form action="/signout">
              <input type="submit" value="Signout" class="btn btn-default">
            </form>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="repo-container">
    <h2>Your repos:</h2>
    <form action="#" class="repo-selector">
      <fieldset class="repos">
      </fieldset>
    </form>
  </div>

    <h2 class="commit-header">Commits:</h2>
    <div class="commits"></div>

  <div class="todos">
    <div class="todo-creation">
      <form class='todo-form form-horizontal'>
        <input name='todo-content' class="todo-input form-control" type="text" placeholder='New todo'>
      </form>
    </div>
    <div class="todo-items"></div>
  </div>


    <p class="pusher"></p>
</body>
