body {
  background-color: oldlace;
}

input {
  margin: 5px;
}

h1, h2, h3, h4, h5,  h6 {
  text-align: center;
  font-family: Menlo;
}

form {
  text-align: center;
}

fieldset {
  border: 0;
}

.commits {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
  width: 600px;
  margin: 0 auto;
  font-size: 17px;
  font-family: Menlo;
}

.commits li {
  list-style-type: none;
}

.commits img {
  height: 25px;
  width: 25px;
  border-radius: 25px;
}

.todo-items {
  margin-top: 40px;
}

.todo-items li {
  list-style-type: none;
  text-align: center;
}

.to-do {
  font-size: 30px;
}

.container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container li {
  display: inline;
}

.container h1 {
  margin-bottom: 40px;
}

.container {
  margin: 5;
  padding: 10px;
}

nav {
  background-color: lightblue;
}

form {
  display: inline;
}

.pusher {
  margin-top: 100px;
}

.sha {
  display: inline;
  margin-left: 20px;
  color: lightgray;
}

.todo-input {
  height: 50px;
  font-size: 30px;
}
