body {
  background-color: oldlace;
}

input {
  margin: 5px;
}

h1, h2, h3, h4, h5,  h6 {
  text-align: center;
  font-family: Arial;
}

form {
  text-align: center;
}


fieldset {
  border: 0;
}


.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
}

.nav {
  background-color: lightblue;
}
