body {
  background-color: oldlace;
}

input {
  margin: 5px;
}

h1, h2, h3, h4, h5,  h6 {
  text-align: center;
  font-family: Arial;
}

form {
  text-align: center;
}


fieldset {
  border: 0;
}

.commits {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
  width: 600px;
  border: 1px solid black;
  margin: 0 auto;
  font-size: 18px;
  font-family: Menlo;
}

.commits li {
  list-style-type: none;
}

.commits img {
  height: 25px;
  width: 25px;
  border-radius: 25px;
}

/*.commits li {
  list-style: none url();
}*/

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav li {
  display: inline;
}

.nav {
  background-color: lightblue;
}

form {
  display: inline;
}
